a:link {
  color: green;
}

a:visited {
  color: red;
}

p {
  color: black;
  font-family: fantasy;
  font-size: 1em;
}

ul {
  text-align: left;
  margin: 20px auto;
  display: inline-block;
  font-family: fantasy;
}

#block {
  margin-left: 100px;
  margin-right: 100px;
}

#text{
    width: 900px;
    border: 5px;
    padding: 0px;
    margin: auto;

}

#main {
    text-align: center;
    background-color: honeydew;
    width: 900px;
    margin: auto;
}

body {
  background-color: forestgreen;
}

h1 {
  padding-top: 80px;
}
